.agregar-character-container {
  display: flex; 
  Height: 60vh;
  margin-top: 200px;
}

.agregar-character-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-agregar {
  color: white;
  margin-top: -100px;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.img-character {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.form-agregar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  row-gap: 7px;
}

.logo-character {
  Height: 120px;
  margin-top: -10px;
}

.logo-universe {
  margin-bottom: 10px;
  height: 100px;
  top: 10px;
  left: 10px;
}

.agregar-character-form {
  flex: 1;
  padding: 2rem
}

.boton.img-right {
  position: absolute;
  right: 10;
}

.boton.img-left {
  position: absolute;
  left: 10;
}

.input-character {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-agregar {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  background-color: #4a9a12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-agregar:hover {
  background-color: #3e7f0f;
}

.button-update {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  background-color: #f2e82d;
  color: rgb(9, 8, 8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-update:hover {
  background-color: #c4c11e;
}

.button-delete {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  background-color: #d11a2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-delete:hover {
  background-color: #a10f1f;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 40px;
}